<!DOCTYPE html>
<html ng-app="chaperon">
  <head>
    <meta charset="utf-8">
    <title>Chaperon</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="https://use.fontawesome.com/1112a7eba0.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/UsersIndexController.js"></script>
    <script src="/scripts/controllers/UsersShowController.js"></script>

  </head>
  <body>
    <h1 class="dev-header"><i class="fa fa-user-circle" aria-hidden="true"></i> Chaperon</h1>

    <div ng-view></div>
  </body>
</html>
