<div>

  <div>
    <div>
      <div>

        <!-- Form Name -->
        <div class="dev-nav">
          <button class='dev-btn-save' ng-click="signup = true">Login</button>
          <button class='dev-btn-edit' ng-click="signup = true">Sign Up</button>
        </div>

        <form  class="dev-card" ng-show="signup" ng-submit="usersIndexCtrl.createUser()">

          <h5 class="dev-center">Sign up for an account</h5>

          <div  class="dev-card-list">
            <!-- Text input-->
            <div>
              <label><p class="dev-label">Username</p></label>
              <div>
              <input ng-model="usersIndexCtrl.newUser.username" type="text" required="">
              </div>
            </div>

            <!-- Text input-->
            <div>
              <label><p class="dev-label">First Name</p></label>
              <div>
              <input ng-model="usersIndexCtrl.newUser.first_name" type="text" required="">
              </div>
            </div>

            <!-- Text input-->
            <div>
              <label><p class="dev-label">Last Name</p></label>
              <div>
              <input ng-model="usersIndexCtrl.newUser.last_name" type="text">
              </div>
            </div>

            <!-- Text input-->
            <div>
              <label><p class="dev-label">Email</p></label>
              <div>
              <input ng-model="usersIndexCtrl.newUser.email" type="text">
              </div>
            </div>

            <!-- Textarea -->
            <div>
              <label><p class="dev-label">Phone Number</p></label>
              <div>
                <input class="form-control" ng-model="usersIndexCtrl.newUser.genres"></input>
              </div>
            </div>


            <!-- Button -->
            <div>
              <label><p class="dev-label">Save User</p></label>
              <div>
                <!-- <button class="btn btn-primary">Submit</button> -->
                <button class='dev-btn-save' ng-click="usersIndexCtrl.createUser(user); signup = false">Save Changes</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="dev-card">
    <!-- //////////// SEARCH //////////// -->

    <div class="dev-center dev-card-header">
      <input type="text" class="dev-search" ng-model="searchText" placeholder="Search For Contacts">
    </div>

    <!-- //////////// SHOW //////////// -->

    <div ng-repeat="user in usersIndexCtrl.users | orderBy: 'last_name' | filter: searchText" class="dev-card-list">
      <div class='row'>
        <!-- <div class="col-md-3 col-xs-12 thumbnail">
          <img src="images/800x800.png" alt="user image">
        </div> -->

        <div>
          <ul>
            <li>
              <span ng-hide="editing"><a ng-href="users/{{user._id}}">{{user.username}}</a></span>
              <input ng-show="editing" ng-model="user.username" type="text">
            </li>

            <li>
              <span ng-hide="editing">{{user.first_name}} {{user.last_name}}</span>
              <input ng-show="editing" ng-model="user.first_name" type="text">
            </li>

            <!-- <li>
              <h4 class="inline-header">Songs:</h4>
              <span ng-repeat="song in user.songs">&ndash; ({{song.trackNumber}}) {{song.name}} &ndash;</span>
            </li> -->
          </ul>
        </div>
      </div>

      <div>
        <div>
          <button class='dev-btn-delete' ng-click="usersIndexCtrl.deleteUser(user)">Delete User</button>
          <button class='dev-btn-edit' ng-hide="editing" ng-click="editing = true">Edit User</button>
          <button class='dev-btn-save' ng-show="editing" ng-click="usersIndexCtrl.editUser(user); editing = false">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
