<div>

  <h1>Users:</h1>

  <h1>hello: {{usersIndexCtrl.user.first_name}}</h1>

  <div>
    <div>
      <div>

        <form ng-submit="usersIndexCtrl.createUser()">
          <fieldset>

            <!-- Form Name -->
            <div><legend>Sign Up!</legend></div>

            <!-- Text input-->
            <div>
              <label>Username</label>
              <div>
              <input id="name" ng-model="usersIndexCtrl.newUser.username" type="text" required="">
              </div>
            </div>

            <!-- Text input-->
            <div>
              <label>First Name</label>
              <div>
              <input id="name" ng-model="usersIndexCtrl.newUser.first_name" type="text" required="">
              </div>
            </div>

            <!-- Text input-->
            <div>
              <label>Last Name</label>
              <div>
              <input ng-model="usersIndexCtrl.newUser.last_name" type="text">
              </div>
            </div>

            <!-- Text input-->
            <div>
              <label>Email</label>
              <div>
              <input ng-model="usersIndexCtrl.newUser.email" type="text">
              </div>
            </div>

            <!-- Textarea -->
            <div>
              <label>Phone Number</label>
              <div>
                <textarea class="form-control" ng-model="usersIndexCtrl.newUser.genres"></textarea>
              </div>
            </div>


            <!-- Button -->
            <div>
              <label>Save User</label>
              <div>
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div>
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search Users">
    </div>

  </div>

  <div ng-repeat="user in usersIndexCtrl.users | orderBy: 'last_name' | filter: searchText" class="dev-card">
    <div class='row'>
      <!-- <div class="col-md-3 col-xs-12 thumbnail">
        <img src="images/800x800.png" alt="user image">
      </div> -->

      <div>
        <ul>
          <li>
            <h4>Username:</h4>
            <span ng-hide="editing"><a ng-href="users/{{user._id}}">{{user.username}}</a></span>
            <input ng-show="editing" ng-model="user.username" type="text">
          </li>

          <li>
            <h4>First Name:</h4>
            <span ng-hide="editing">{{user.first_name}}</span>
            <input ng-show="editing" ng-model="user.first_name" type="text">
          </li>

          <li>
            <h4>Last Name:</h4>
            <span ng-hide="editing">{{user.last_name}}</span>
            <input ng-show="editing" ng-model="user.last_name" type="text">
          </li>

          <!-- <li>
            <h4 class="inline-header">Songs:</h4>
            <span ng-repeat="song in user.songs">&ndash; ({{song.trackNumber}}) {{song.name}} &ndash;</span>
          </li> -->
        </ul>
      </div>
    </div>

    <div>
      <div>
        <button class='dev-btn-delete' ng-click="usersIndexCtrl.deleteUser(user)">Delete User</button>
        <button class='dev-btn-edit' ng-hide="editing" ng-click="editing = true">Edit User</button>
        <button class='dev-btn-save' ng-show="editing" ng-click="usersIndexCtrl.editUser(user); editing = false">Save Changes</button>
      </div>
    </div>
  </div>
</div>
