<h4>Contacts</h4>
<hr>
<!-- <p ng-if="home.posts.length === 0">No posts yet.</p> -->

<div ng-if="home.posts.length > 0">
	<ul class="dev-card" ng-repeat="post in home.posts">
		<li class="dev-label"><strong>{{post.first_name}} {{post.last_name}}</strong></li>
		<li class="dev-label">{{post.phone}}</li>
	</ul>
</div>

<div ng-show="main.currentUser()">
	<br>
	<h4>Add New Contact</h4>
	<hr>
	<form ng-submit="home.signup()">
		<!-- <div>
			<input type="text" ng-model="home.new_user.username" placeholder="Username">
		</div> -->
		<div>
			<input type="text" ng-model="home.new_user.first_name" placeholder="First Name">
		</div>
		<div>
			<input type="text" ng-model="home.new_user.last_name" placeholder="Last Name">
		</div>
		<div>
			<input type="text" ng-model="home.new_user.email" placeholder="Email">
		</div>
		<div>
			<input type="text" ng-model="home.new_user.phone" placeholder="Phone Number">
		</div>
		<!-- <div>
			<input type="password" ng-model="sc.new_user.password" placeholder="Password">
		</div> -->
		<input type="submit" value="Add Contact" class="btn btn-block btn-info">
	</form>
	<!-- <form ng-show="main.currentUser()" ng-submit="home.createPost()">
		<div>
			<label for="post-title">Title</label>
		  <input type="text" ng-model="home.new_post.title" id="post-title" placeholder="Make sure it's creative!">
		</div>
	  <div>
	  	<label for="post-content">Content</label>
	    <textarea ng-model="home.new_post.content" id="post-content" placeholder="Share your thoughts."></textarea>
	  </div>
	  <input type="submit" value="Add Post" class="btn btn-block btn-info">
	</form> -->
</div>
