<div class="dev-center">
	<h5>Welcome to Chaperon, your personal safety app.</h5>
</div>

<div ng-show="!main.currentUser()">
	<p class="dev-center">
		Chaperon is a personal safety app. You can store your emergency contacts in a secure profile. If you feel safe at any time, just open your app, hit your panic button and your emergency contacts will be notified immediately with a text message that includes your stored gps location.
	</p>
	<p class="dev-center"><a ui-sref="signup">Sign up now!</a></p>
	</p>
</div>

<div ng-show="main.currentUser()">
	<h4>Contacts</h4>
	<hr>

	<div ng-if="home.posts.length > 0">
		<ul class="dev-card" ng-repeat="post in home.posts">
			<li class="dev-label"><strong>{{post.first_name}} {{post.last_name}}</strong></li>
			<li class="dev-label">{{post.phone}}</li>
		</ul>
	</div>
	<br>
	<h4>Add New Contact:</h4>
	<hr>

	<form ng-show="profile.showEditForm" ng-submit="profile.updateProfile()">

		<div>
			<input type="text" placeholder="Username"
			ng-model="profile.new_profile.username"
			ng-value="main.currentUser().username">
		</div>

	  <button class="dev-btn-edit" type="submit" value="Edit Profile">Edit</button>
	  <button class="dev-btn-delete" ng-click="profile.showEditForm=false">Cancel</button>
	</form>

</div>
