<div>

  <div class="dev-card">
    <!-- //////////// SEARCH //////////// -->

    <div class="dev-center dev-card-header">
      <input type="text" class="dev-search" ng-model="searchText" placeholder="Search For Contacts">
    </div>

    <!-- //////////// SHOW //////////// -->

    <div ng-repeat="user in usersIndexCtrl.users | orderBy: 'last_name' | filter: searchText" class="dev-card-list">
      <div class='row'>
        <!-- <div class="col-md-3 col-xs-12 thumbnail">
          <img src="images/800x800.png" alt="user image">
        </div> -->

        <div>
          <ul>
            <li>
              <label ng-show="editing"><p class="dev-label">Username</p></label>
              <span ng-hide="editing"><a ng-href="users/{{user._id}}">{{user.username}}</a></span>
              <input ng-show="editing" ng-model="user.username" type="text">
            </li>

            <li>
              <label ng-show="editing"><p class="dev-label">First Name</p></label>
              <span ng-hide="editing">{{user.first_name}}</span>
              <input ng-show="editing" ng-model="user.first_name" type="text">
            </li>

            <li ng-show="editing" >
              <label><p class="dev-label">Last Name</p></label>
              <span ng-hide="editing">{{user.last_name}}</span>
              <input ng-model="user.last_name" type="text">
            </li>

            <li ng-show="editing" >
              <label><p class="dev-label">Email</p></label>
              <span ng-hide="editing">{{user.email}}</span>
              <input ng-model="user.email" type="text">
            </li>

            <li ng-show="editing" >
              <label><p class="dev-label">Phone Number</p></label>
              <span ng-hide="editing">{{user.phone}}</span>
              <input ng-model="user.phone" type="text">
            </li>

            <!-- <li>
              <h4 class="inline-header">Songs:</h4>
              <span ng-repeat="song in user.songs">&ndash; ({{song.trackNumber}}) {{song.name}} &ndash;</span>
            </li> -->
          </ul>
        </div>
      </div>

      <div>
        <div>
          <button class='dev-btn-delete' ng-click="usersIndexCtrl.deleteUser(user)">Delete User</button>
          <button class='dev-btn-edit' ng-hide="editing" ng-click="editing = true">Edit User</button>
          <button class='dev-btn-save' ng-show="editing" ng-click="usersIndexCtrl.editUser(user); editing = false">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
