body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}
/*.dev-page {
  margin-top: 5.8em;
}*/
i {
  padding: 0.1em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 5px;
}
h1 {
font-size: 5em;
}
h2 {
font-size: 4em;
}
h3 {
font-size: 3em;
}
h4 {
font-size: 2em;
}
h5 {
font-size: 1.5em;
}
h6 {
font-size: 1em;
}
a, a:hover {
  text-decoration: none;
}
a {
  color: ();
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 1px 0;
}
input {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 2px;
}
button {
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
  padding: 0.5em;
  border-radius: 0.2em;
}
.dev-label {
  margin: 0;
  padding: 1em;
}
.dev-center {
  text-align: center;
}
.dev-header {
  /*position: fixed;*/
  width: 100%;
  font-family: 'Armata', sans-serif;
  font-size: 5.5em;
  color: white;
  background-color: rgb(48, 188, 146);
  margin: 0 0 0 0;
  padding: 0.3em;
  text-align: center;
}
.dev-logo {
  max-width: 1em;
}
.dev-nav {
  padding: 1em;
}
.dev-card {
  max-width: 700px;
  margin: 1em auto;
  border: 1px solid black;
  border-radius: 3px;
}
.dev-card-header {
  border: none;
  padding: 1em;
}
.dev-card-list {
  margin: 0;
  padding: 1em;
  border-top: 1px solid black;
  /*border-bottom: 1px solid black;*/
}
.dev-search {
  width: 300px;
  margin: 0 auto;
}
.dev-btn-save {
  background-color: rgb(120, 225, 193);
  border: none;
}
.dev-btn-edit {
  background-color: rgb(255, 208, 136);
  border: none;
}
.dev-btn-delete {
  background-color: rgb(254, 135, 138);
  border: none;
}
